@import "tailwindcss";

@theme{
    --color-menu: #222222;
    --color-bgColor: #F5E6E0;
    --color-headingTitle: #C32929;
    --color-footerBg: #E4E4E4;
    --color-footerMenu: #767676;
    --color-catagories: #f5e6e0;
    --color-trendProducts: #B5B5B5;


    --font-jost: "Jost", "sans-serif";
}